* {
  margin: 0;
  padding: 0;
}

header {
  grid-area: cabecalho;
}

main {
  grid-area: conteudo;
  display: grid;
  grid-template-columns:  1fr 150px;
  grid-template-rows: 150px 1fr 50px;
  gap: 10px;
  padding: 5px;
  position: relative;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "cabecalho"
    "conteudo";
  box-sizing: border-box;
  background-color: #8da9c4;
  font-family: "Montserrat", sans-serif;
}

.cabecalho {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  background-color: #0b2545;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: solid black;
  border-radius: 15px;
}

.cabecalho h1 {
  color: white;
  font-size: 30px;
}

.painel-senhas {
  background-color: #0b2545;
  grid-column: 2/4;
  grid-row: 1 / 4;
  border-radius: 10px;
  padding: 10px;
}

.painel-senhas h4 {
  color: white;
}

.painel-senhas ul {
  list-style: none;
}

.quadrado {
  grid-column: 1/3;
  grid-row: 2/4;
  background-color: #f0ebd8;
  color: #0b2545;
  width: 50%;
  height: 350px;
  border: solid 5px black;
  border-radius: 10px;
  position: absolute; 
  top:35%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 

}

.senha {
  font-size: 40px;
  font-weight: bold;
}

.botoes {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: aliceblue;
  display: flex;

  justify-content: center;
  align-items: center;
}

.button {
  background-color: #0b2545; 
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 15;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 50px;
  transition: ease 0.5s;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background: orange;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
}

